[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
pump = "F6pyw8jcNrKLDhdjkrvfGHskzp64x61FX2ADcbj3Xktw"

[programs.mainnet]
pump = "6kmXSnjP83nkiJZNWpM4mmRU8q6nQamLSE8fxGvoTPeS"

[registry]
url = "https://api.devnet.solana.com"

[provider]
cluster = "Devnet"
wallet = "./id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000
shutdown_wait = 2000
upgradeable = false
